@model IEnumerable<ProblemaProject.Models.pelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sinopsis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.falta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genero1.id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sinopsis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.falta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disponible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero1.id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Verificar Estado de Renta","Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
