@model ProblemaProject.Models.pDisp_Result

@{
    ViewBag.Title = "pesdisp";
}

<div>
    <h4>La película se encuentra disponible para rentar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sinopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sinopsis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.falta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.falta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="rentar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

